@{
    ViewData["Title"] = "Home Page";
}
<head>

</head>

<body>
<div class="text-center">
    <h1 class="display-4">Welcome to The bieb</h1>
    <p>Learn about Maarten Smith, Stephen Rass here:</p>
</div>


</body>