@{
    ViewData["Title"] = "Home Page";
}
<head>

</head>

<body>
<div class="text-center">
    <h1 class="display-4">Welcome to The bieb</h1>

    <!-- hier zet staan de FAQ, als er tijd over is maken we dit mooi... -->

    <p>
        1. Make sure to log in!<br>
        Here you will see your subscription and all your information
        <br />
        <br>
        2. you want a book?<br />
        great go to the book tab! to get the book it wil ask you to sign in or register!
        <br />
        <br />
        3. you want to know about our privecy?<br />
        go to our privecy tab! to read all our pollesies
        <br />
        <br />
    </p>

    <p>Learn about Maarten Smith, Stephen Rass here:</p>
</div>


</body>