@{
    ViewData["Title"] = "Log";
}

<div class="text-center">
    <h1 class="display-4">Welcome to The LOG</h1>
    <p>the login page for Guest, Members, Employees and Admins</p>
    <br/>
    <br />
    <p>Login in here:</p>
    .
        
</div>

